h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.user {
  padding: 5px 30px;
  background-color: lightsalmon;
  border-radius: 10px;
}

.list {
  padding: 5px 30px;
  background-color: lightsalmon;
  border-radius: 10px;
}

.post-no {
  text-align: right;
}
